In [1]:
import csv
import pandas as pd
import numpy
#import openpyxl
from matplotlib import pyplot as plt

In [9]:
# #절대경로 지정, 각 파일에 맞게 수정
# roa = pd.read_csv("./(연)roa.csv",encoding='cp949')
# roe = pd.read_csv("./(연)roe.csv",encoding='cp949')
# allo = pd.read_csv("./(연)sk하이닉스배당.csv",encoding='cp949')
# net_income = pd.read_csv("./(연)단기순이익.csv",encoding='cp949')
# sales_increase = pd.read_csv("./(연)매출증가액.csv",encoding='cp949')
# ope_profit = pd.read_csv("./(연)영업이익증가율.csv",encoding='cp949')
hinix = pd.read_csv('./dataset/hinix_short.csv', encoding='cp949')
h = pd.read_csv('./dataset/Bitcoin.csv')

In [10]:
h

            date    BTC종가  BTC변동률
0     2021-05-14  49839.8    0.27
1     2021-05-13  49704.6    0.65
2     2021-05-12  49384.2  -12.90
3     2021-05-11  56695.7    1.52
4     2021-05-10  55848.9   -4.10
...          ...      ...     ...
3949  2010-07-22      0.1    0.00
3950  2010-07-21      0.1    0.00
3951  2010-07-20      0.1    0.00
3952  2010-07-19      0.1    0.00
3953  2010-07-18      0.1    0.00

[3954 rows x 3 columns]

In [11]:
csv_df = pd.merge(hinix, h, how="left")
csv_df

,date,등락지표,등락.분류,종가,대비,등락률,시가,고가,저가,거래량,...,유가변동률,한국은행기준금리,연준기준금리,한미기준금리차이,반도체수출금액지수,삼성종가,SOX종가,SOX변동률,BTC종가,BTC변동률
0,2000-01-04,1,2,25750.0,1650,6.85,24700.0,26450,24200,9275920,...,-0.20,4.75,5.50,0.75,34.27,305500.0,687.32,-3.63,NaN,NaN
1,2000-01-05,-1,-2,23100.0,-2650,-10.29,24150.0,24950,22750,7414370,...,-2.50,4.75,5.50,0.75,34.27,279000.0,678.54,-1.28,NaN,NaN
2,2000-01-06,-1,-2,21900.0,-1200,-5.19,23500.0,23800,21650,6529140,...,-0.52,4.75,5.50,0.75,34.27,281000.0,669.33,-1.36,NaN,NaN
3,2000-01-07,-1,-1,21700.0,-200,-0.91,21200.0,22400,20800,10492270,...,-2.26,4.75,5.50,0.75,34.27,277000.0,690.75,3.20,NaN,NaN
4,2000-01-10,-1,-1,21500.0,-200,-0.92,22000.0,22300,21500,8041690,...,1.86,4.75,5.50,0.75,34.27,288500.0,741.69,7.37,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,2021-05-10,1,1,130000.0,500,0.39,131000.0,131000,128500,3067077,...,0.03,0.50,0.25,-0.25,NaN,4160000.0,2967.11,-4.66,55848.9,-4.10
5271,2021-05-11,-1,-2,123000.0,-7000,-5.38,127000.0,127500,122000,9882491,...,0.55,0.50,0.25,-0.25,NaN,4060000.0,2976.01,0.30,56695.7,1.52
5272,2021-05-12,-1,-1,119500.0,-3500,-2.85,123000.0,123500,119000,8272196,...,1.23,0.50,0.25,-0.25,NaN,4000000.0,2851.15,-4.20,49384.2,-12.90
5273,2021-05-13,-1,-1,117500.0,-2000,-1.67,116000.0,118500,115500,6042025,...,-3.42,0.50,0.25,-0.25,NaN,3925000.0,2893.94,1.50,49704.6,0.65
5274,2021-05-14,1,1,118500.0,1000,0.85,118500.0,120000,118000,3227201,...,2.43,0.50,0.25,-0.25,NaN,4005000.0,2981.42,0.03,49839.8,0.27

In [13]:
csv_df.to_csv("./dataset/hinix_short2.csv",encoding='cp949', index=False)