In [6]:
import csv
import pandas as pd
import numpy
#import openpyxl

In [9]:
# #절대경로 지정, 각 파일에 맞게 수정
# roa = pd.read_csv("./(연)roa.csv",encoding='cp949')
# roe = pd.read_csv("./(연)roe.csv",encoding='cp949')
# allo = pd.read_csv("./(연)sk하이닉스배당.csv",encoding='cp949')
# net_income = pd.read_csv("./(연)단기순이익.csv",encoding='cp949')
# sales_increase = pd.read_csv("./(연)매출증가액.csv",encoding='cp949')
# ope_profit = pd.read_csv("./(연)영업이익증가율.csv",encoding='cp949')
hnix = pd.read_csv('hinix.csv', encoding='cp949')
 = pd.read_csv('./dataset/환율.csv', encoding='cp949')/

In [10]:
csv_df = pd.merge(hinix, d,how="left")
csv_df

,날짜,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,환율
0,1997-01-03,20000,0,0.00,20000,20100,20000,145680,2.913730e+09,1.120000e+12,56000000,844.60
1,1997-01-04,20000,0,0.00,20000,20000,20000,277690,5.553800e+09,1.120000e+12,56000000,842.70
2,1997-01-06,20000,0,0.00,20000,20000,20000,436190,8.723800e+09,1.120000e+12,56000000,842.70
3,1997-01-07,20000,0,0.00,20000,20000,20000,283480,5.669600e+09,1.120000e+12,56000000,844.70
4,1997-01-08,20000,0,0.00,20000,20000,20000,206320,4.126400e+09,1.120000e+12,56000000,844.60
...,...,...,...,...,...,...,...,...,...,...,...,...
6103,2021-05-10,130000,500,0.39,131000,131000,128500,3067077,3.980000e+11,9.460000e+13,728002365,"1,121.40"
6104,2021-05-11,123000,-7000,-5.38,127000,127500,122000,9882491,1.230000e+12,8.950000e+13,728002365,"1,114.60"
6105,2021-05-12,119500,-3500,-2.85,123000,123500,119000,8272196,9.980000e+11,8.700000e+13,728002365,"1,119.10"
6106,2021-05-13,117500,-2000,-1.67,116000,118500,115500,6042025,7.070000e+11,8.550000e+13,728002365,"1,123.50"
6107,2021-05-14,118500,1000,0.85,118500,120000,118000,3227201,3.840000e+11,8.630000e+13,728002365,"1,130.60"

In [11]:
csv_df.to_csv("./da 일별.csv",encoding='cp949')