In [19]:
import csv
import pandas as pd
import numpy
#import openpyxl

In [53]:
# #절대경로 지정, 각 파일에 맞게 수정
# roa = pd.read_csv("./(연)roa.csv",encoding='cp949')
# roe = pd.read_csv("./(연)roe.csv",encoding='cp949')
# allo = pd.read_csv("./(연)sk하이닉스배당.csv",encoding='cp949')
# net_income = pd.read_csv("./(연)단기순이익.csv",encoding='cp949')
# sales_increase = pd.read_csv("./(연)매출증가액.csv",encoding='cp949')
# ope_profit = pd.read_csv("./(연)영업이익증가율.csv",encoding='cp949')
hinix = pd.read_csv('./dataset/hinix_shortdown2.csv', encoding='cp949')
h = pd.read_csv('C:/Users/jongm/OneDrive - 광운대학교/ProjecTS/팀id 파일들/TEAM-ID/dataset/미국_기준_금리.csv', encoding='cp949')

In [54]:
h
hinix

,날짜,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,환율,유가종가,유가오픈,유가고가,유가저가,유가변동률,한국은행기준금리
0,2000-01-04,25750.0,1650,6.85,24700.0,26450,24200,9275920,2.360000e+11,8.990000e+12,348934856,1134.5,25.55,25.20,25.69,24.71,-0.20,4.75
1,2000-01-05,23100.0,-2650,-10.29,24150.0,24950,22750,7414370,1.780000e+11,8.060000e+12,348934856,1125.8,24.91,25.50,25.61,24.87,-2.50,4.75
2,2000-01-06,21900.0,-1200,-5.19,23500.0,23800,21650,6529140,1.480000e+11,7.640000e+12,348934856,1130.1,24.78,24.80,25.34,24.51,-0.52,4.75
3,2000-01-07,21700.0,-200,-0.91,21200.0,22400,20800,10492270,2.280000e+11,1.070000e+13,493934856,1139.1,24.22,24.65,25.00,24.15,-2.26,4.75
4,2000-01-10,21500.0,-200,-0.92,22000.0,22300,21500,8041690,1.750000e+11,1.060000e+13,493934856,1145.9,24.67,24.22,24.75,24.02,1.86,4.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,2021-05-10,130000.0,500,0.39,131000.0,131000,128500,3067077,3.980000e+11,9.460000e+13,728002365,1121.4,64.92,65.57,65.75,63.95,0.03,0.50
5271,2021-05-11,123000.0,-7000,-5.38,127000.0,127500,122000,9882491,1.230000e+12,8.950000e+13,728002365,1114.6,65.28,64.90,65.50,63.68,0.55,0.50
5272,2021-05-12,119500.0,-3500,-2.85,123000.0,123500,119000,8272196,9.980000e+11,8.700000e+13,728002365,1119.1,66.08,65.46,66.63,64.97,1.23,0.50
5273,2021-05-13,117500.0,-2000,-1.67,116000.0,118500,115500,6042025,7.070000e+11,8.550000e+13,728002365,1123.5,63.82,65.75,65.81,63.09,-3.42,0.50
5274,2021-05-14,118500.0,1000,0.85,118500.0,120000,118000,3227201,3.840000e+11,8.630000e+13,728002365,1130.6,65.37,63.83,65.62,63.33,2.43,0.50

In [57]:
csv_df = pd.merge(hinix, h, how="left", on='날짜')
csv_df

,날짜,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수,환율,유가종가,유가오픈,유가고가,유가저가,유가변동률,한국은행기준금리,DFEDTAR
0,2000-01-04,25750.0,1650,6.85,24700.0,26450,24200,9275920,2.360000e+11,8.990000e+12,348934856,1134.5,25.55,25.20,25.69,24.71,-0.20,4.75,5.5
1,2000-01-05,23100.0,-2650,-10.29,24150.0,24950,22750,7414370,1.780000e+11,8.060000e+12,348934856,1125.8,24.91,25.50,25.61,24.87,-2.50,4.75,5.5
2,2000-01-06,21900.0,-1200,-5.19,23500.0,23800,21650,6529140,1.480000e+11,7.640000e+12,348934856,1130.1,24.78,24.80,25.34,24.51,-0.52,4.75,5.5
3,2000-01-07,21700.0,-200,-0.91,21200.0,22400,20800,10492270,2.280000e+11,1.070000e+13,493934856,1139.1,24.22,24.65,25.00,24.15,-2.26,4.75,5.5
4,2000-01-10,21500.0,-200,-0.92,22000.0,22300,21500,8041690,1.750000e+11,1.060000e+13,493934856,1145.9,24.67,24.22,24.75,24.02,1.86,4.75,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,2021-05-10,130000.0,500,0.39,131000.0,131000,128500,3067077,3.980000e+11,9.460000e+13,728002365,1121.4,64.92,65.57,65.75,63.95,0.03,0.50,NaN
5271,2021-05-11,123000.0,-7000,-5.38,127000.0,127500,122000,9882491,1.230000e+12,8.950000e+13,728002365,1114.6,65.28,64.90,65.50,63.68,0.55,0.50,NaN
5272,2021-05-12,119500.0,-3500,-2.85,123000.0,123500,119000,8272196,9.980000e+11,8.700000e+13,728002365,1119.1,66.08,65.46,66.63,64.97,1.23,0.50,NaN
5273,2021-05-13,117500.0,-2000,-1.67,116000.0,118500,115500,6042025,7.070000e+11,8.550000e+13,728002365,1123.5,63.82,65.75,65.81,63.09,-3.42,0.50,NaN
5274,2021-05-14,118500.0,1000,0.85,118500.0,120000,118000,3227201,3.840000e+11,8.630000e+13,728002365,1130.6,65.37,63.83,65.62,63.33,2.43,0.50,NaN

In [61]:
csv_df.to_csv("./dataset/hinix_shortdown2.csv",encoding='cp949', index=False)