In [3]:
import csv
import pandas as pd
import numpy
#import openpyxl
from matplotlib import pyplot as plt

In [4]:
# #절대경로 지정, 각 파일에 맞게 수정
# roa = pd.read_csv("./(연)roa.csv",encoding='cp949')
# roe = pd.read_csv("./(연)roe.csv",encoding='cp949')
# allo = pd.read_csv("./(연)sk하이닉스배당.csv",encoding='cp949')
# net_income = pd.read_csv("./(연)단기순이익.csv",encoding='cp949')
# sales_increase = pd.read_csv("./(연)매출증가액.csv",encoding='cp949')
# ope_profit = pd.read_csv("./(연)영업이익증가율.csv",encoding='cp949')
hinix = pd.read_csv('./dataset/hynix_short.csv', encoding='cp949')
#h = pd.read_csv('./dataset/Bitcoin.csv')

In [5]:
hinix

,date,ddd,dd,최종,S등락,H등락,S등락률,H등락지표,H등락분류,S종가,...,코스피변동,코스닥종가,코스닥시가,코스닥고가,코스닥저가,코스닥거래량,코스닥변동,SP종가,SP변동률,시장금리
0,2010-07-19,20100719,201007,0,0,1,-0.87,1,1,795000,...,-0.37,498.49,494.36,499.63,494.36,506010,-0.08,1071.25,0.88,2.54
1,2010-07-20,20100720,201007,0,1,1,0.38,1,1,798000,...,0.28,499.72,501.32,501.64,498.43,686750,0.25,1083.48,0.80,2.54
2,2010-07-21,20100721,201007,0,1,0,2.38,-1,-1,817000,...,0.69,496.73,502.63,503.08,496.73,721150,-0.60,1069.59,1.74,2.54
3,2010-07-22,20100722,201007,0,0,0,-1.10,-1,-1,808000,...,-0.76,484.72,496.47,497.84,482.97,668020,-2.42,1093.67,-1.40,2.54
4,2010-07-23,20100723,201007,0,1,1,0.37,1,1,811000,...,1.30,483.69,490.17,490.65,480.66,532190,-0.21,1102.66,1.80,2.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2665,2021-05-10,20210510,202105,1,1,1,1.59,1,1,4160000,...,1.63,992.80,979.38,993.06,979.38,1320000000,1.48,4188.43,-1.18,0.24
2666,2021-05-11,20210511,202105,0,0,0,-2.40,-1,-2,4060000,...,-1.23,978.61,991.41,991.41,974.10,1410000000,-1.43,4152.10,0.11,0.24
2667,2021-05-12,20210512,202105,0,0,0,-1.48,-1,-1,4000000,...,-1.49,967.10,978.27,979.99,958.57,1970000000,-1.18,4063.04,-0.55,0.24
2668,2021-05-13,20210513,202105,0,0,0,-1.88,-1,-1,3925000,...,-1.25,951.77,963.31,965.27,948.04,1450000000,-1.59,4112.50,0.70,0.24
2669,2021-05-14,20210514,202105,1,1,1,2.04,1,1,4005000,...,1.00,966.72,953.91,967.18,953.91,1560000000,1.57,4173.85,0.37,0.24

In [6]:
import pandas as pd

from pandas import DataFrame

from pandas import Series

import numpy as np

grouped = hinix['ddd'].groupby(hinix['dd'])

In [8]:
dd = grouped.max()

In [9]:
import csv

with open('listfile.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(dd)

In [11]:
csv_df = pd.merge(hinix, h, how="left")
csv_df

,date,등락지표,등락.분류,종가,대비,등락률,시가,고가,저가,거래량,...,유가변동률,한국은행기준금리,연준기준금리,한미기준금리차이,반도체수출금액지수,삼성종가,SOX종가,SOX변동률,BTC종가,BTC변동률
0,2000-01-04,1,2,25750.0,1650,6.85,24700.0,26450,24200,9275920,...,-0.20,4.75,5.50,0.75,34.27,305500.0,687.32,-3.63,NaN,NaN
1,2000-01-05,-1,-2,23100.0,-2650,-10.29,24150.0,24950,22750,7414370,...,-2.50,4.75,5.50,0.75,34.27,279000.0,678.54,-1.28,NaN,NaN
2,2000-01-06,-1,-2,21900.0,-1200,-5.19,23500.0,23800,21650,6529140,...,-0.52,4.75,5.50,0.75,34.27,281000.0,669.33,-1.36,NaN,NaN
3,2000-01-07,-1,-1,21700.0,-200,-0.91,21200.0,22400,20800,10492270,...,-2.26,4.75,5.50,0.75,34.27,277000.0,690.75,3.20,NaN,NaN
4,2000-01-10,-1,-1,21500.0,-200,-0.92,22000.0,22300,21500,8041690,...,1.86,4.75,5.50,0.75,34.27,288500.0,741.69,7.37,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,2021-05-10,1,1,130000.0,500,0.39,131000.0,131000,128500,3067077,...,0.03,0.50,0.25,-0.25,NaN,4160000.0,2967.11,-4.66,55848.9,-4.10
5271,2021-05-11,-1,-2,123000.0,-7000,-5.38,127000.0,127500,122000,9882491,...,0.55,0.50,0.25,-0.25,NaN,4060000.0,2976.01,0.30,56695.7,1.52
5272,2021-05-12,-1,-1,119500.0,-3500,-2.85,123000.0,123500,119000,8272196,...,1.23,0.50,0.25,-0.25,NaN,4000000.0,2851.15,-4.20,49384.2,-12.90
5273,2021-05-13,-1,-1,117500.0,-2000,-1.67,116000.0,118500,115500,6042025,...,-3.42,0.50,0.25,-0.25,NaN,3925000.0,2893.94,1.50,49704.6,0.65
5274,2021-05-14,1,1,118500.0,1000,0.85,118500.0,120000,118000,3227201,...,2.43,0.50,0.25,-0.25,NaN,4005000.0,2981.42,0.03,49839.8,0.27

In [13]:
csv_df.to_csv("./dataset/hinix_short2.csv",encoding='cp949', index=False)