In [ ]:
""" !pip install opendartreader
!pip3 install --upgrade opendartreader
!pip3 install beautifulsoup4 """

## 참고 자료 : Open_dart로 배당금 조회하기 
## https://psystat.tistory.com/116?category=1176931

In [1]:
import OpenDartReader
import pandas as pd
import numpy as np
import csv

In [12]:
api_key = '4b66b1aee7205d6084aae7f8ceaa7c8231c3d38a'
dart = OpenDartReader(api_key)
all = pd.DataFrame({'년도':['기준'],'종목코드':['000660'], '종목명':['sk하이닉스'], 'EPS': '기준', 'DPS':'기준', '배당수익률': '기준', '배당금총액':'기준'})

In [114]:
year = 2016 #2020,2019,2018,2017,2016 가능 코드

In [115]:
#sk하이닉스,배당관련사항,년도별
df = dart.report('000660', '배당', year)
df = df.replace(r'-', ' ', regex=True)

In [116]:
df_dps = df[df['se'] == '주당 현금배당금(원)' ]
df_eps = df[df['se'].str.contains('주당순이익')]
df_yield = df[df['se'].str.contains('현금배당수익률')]
df_TD = df[df['se'].str.contains('현금배당금총액')]

DPS = int(df_dps[['thstrm']].iloc[0,0].replace(',','').strip()) #주당배당금
EPS = int(df_eps[['thstrm']].iloc[0,0].replace(',','').strip()) #주당순이익
Yield = float(df_yield[['thstrm']].iloc[0,0].replace(',','').strip())
TD = int(df_TD[['thstrm']].iloc[0,0].replace(',','').strip()) * 1000000 #배당금총액, 백만원단위

In [117]:
dv = pd.DataFrame({'년도':[year],'종목코드':['000660'], '종목명':['sk하이닉스'], 'EPS':[EPS], 'DPS':[DPS], '배당수익률':[Yield], '배당금총액':[TD]})
dv

     년도    종목코드     종목명   EPS  DPS  배당수익률         배당금총액
0  2016  000660  sk하이닉스  4184  600    1.3  423601000000

In [118]:
all = pd.concat([all,dv])

#### 이 코드로는 2015부터 2019년도 자료만 조회 가능합니다.  
#### (2014년도 자료는 보통주/우선주 열이 하나 더 있습니다. 따라서 파싱 문제 인듯 합니다.)
#### dart.report()내부 파라미터인 year은 bsns_year로, bsns_year기준 전년도 자료를 조회합니다. 이를 유의합니다.

In [141]:
year = 2014

In [142]:
df2 = df2.replace(r'-', ' ', regex=True)
del df2['stock_knd']

AttributeError: 'NoneType' object has no attribute 'replace'

In [145]:
df2 = dart.report('000660', '배당', year)
df2

In [143]:
df_dps = df2[df2['se'] == '주당 현금배당금(원)' ]
df_eps = df2[df2['se'].str.contains('주당순이익')]
df_yield = df2[df2['se'].str.contains('현금배당수익률')]
df_TD = df2[df2['se'].str.contains('현금배당금총액')]

DPS = int(df_dps[['thstrm']].iloc[0,0].replace(',','').strip()) #주당배당금
EPS = int(df_eps[['thstrm']].iloc[0,0].replace(',','').strip()) #주당순이익
Yield = float(df_yield[['thstrm']].iloc[0,0].replace(',','').strip())
TD = int(df_TD[['thstrm']].iloc[0,0].replace(',','').strip()) * 1000000 #배당금총액, 백만원단위

TypeError: 'NoneType' object is not subscriptable

In [138]:
dv2 = pd.DataFrame({'년도':[year],'종목코드':['000660'], '종목명':['sk하이닉스'], 'EPS':[EPS], 'DPS':[DPS], '배당수익률':[Yield], '배당금총액':[TD]})
dv2

     년도    종목코드     종목명   EPS  DPS  배당수익률         배당금총액
0  2015  000660  sk하이닉스  6002  500    1.6  353001000000

In [139]:
all = pd.concat([all,dv2])

In [140]:
all

     년도    종목코드     종목명    EPS   DPS 배당수익률          배당금총액
0    기준  000660  sk하이닉스     기준    기준    기준             기준
0  2020  000660  sk하이닉스   6952  1170   1.0   800282000000
0  2019  000660  sk하이닉스   2943  1000   1.1   684002000000
0  2018  000660  sk하이닉스  22255  1500   2.5  1026003000000
0  2017  000660  sk하이닉스  15073  1000   1.3   706002000000
0  2016  000660  sk하이닉스   4184   600   1.3   423601000000
0  2015  000660  sk하이닉스   6002   500   1.6   353001000000

In [ ]:
all.to_csv('sk하이닉스_배당.csv')